<html>
    <head>
        <title>Monitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <h1 class="w3-display-topmiddle">WEB MONITOR</h1>
        <p class="w3-display-bottomright w3-container">Devel by CRETA Comp.</p>
    </body>
</html>